<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    
    <title>Pink Memories</title>

    <link rel="stylesheet" href="style.css">

    </head>

    <body>
        <section class="birthday-screen">
            <img src="assets/bows/bow1.png" class="bow bow-top">
            <img src="assets/bows/bow1.png" class="bow bow-middle">
            <img src="assets/bows/bow1.png" class="bow bow-bottom">
            <img src="assets/hearts/heart1.png" class="heart heart1">
            <img src="assets/hearts/heart1.png" class="heart heart2">
            <img src="assets/hearts/heart1.png" class="heart heart3">
            <img src="assets/hearts/heart1.png" class="heart heart4">
            <img src="assets/hearts/heart1.png" class="heart heart5">
            <div class="blob blob-top"></div>
            <div class="blob blob-bottom"></div>
            <h1>Happy Birthday!</h1>
            <p>
                Someone just made something for you!
                </p>
                <button class="next-btn">
                Next ->
                </button>
        </section>

                <section class="question-screen">
                    <h1 id="questionText">
                        Do you want a surprise?
                    </h1>

                    <div class="choice-buttons">
                        <button id="yesBtn">
                            Yes 💖
                        </button>

                        <button id="noBtn">
                            No
                        </button>

                    </div>
                    </section>

                            <section class="teddy-screen">
            <img src="assets/gifs/teddy.gif" class="hug-gif">
            <h1>
                I knew you'd say yes! 💖
            </h1>

            <p>
                Sending a little surprise your way... 💌
            </p>
         
            <button class="next-btn-2">
                Next ->
            </button>
            </section>

        <script src="script.js"></script>

        </body>
        </html>

